@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

*,
::before,
::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Josefin sans';
}

.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 70px;
    background-color: #ff2800;
    color: white;
}

.cart>* {
    width: 42px;
    height: 42px;
}